.task-column {
    width: 200px;
}

    task-title {
        font-weight: bold;
        font-size: 1.2em;
    }

    .task-description {
        font-style: italic;
        color: gray;
    }

    .task-status{
        color: green;

    }
.add-task {
    white-space: pre-wrap;
}
